.user-component,
.user-component__column:first-child {
  display: flex;
  align-items: center;
}

.user-component {
  justify-content: space-between;
  margin-bottom: 10px;
}

.user-component:active {
  background-color: aliceblue;
}

.user-component__column:last-child {
  color: rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.user-component__time {
  display: block;
  margin-bottom: 10px;
}

.user-component__avatar {
  width: 70px;
  height: 70px;
  border-radius: 38%;
  margin-right: 20px;
}

.user-component__title {
  font-size: 22px;
  font-weight: 600;
}

.user-component__title--not-bold {
  font-weight: normal;
}

.user-component__subtitle {
  margin-top: 10px;
  font-size: 17px;
  color: rgba(0, 0, 0, 0.7);
}

.user-component__avatar--xl {
  width: 80px;
  height: 80px;
}

.user-component__avatar--sm {
  width: 60px;
  height: 60px;
  border-radius: 38%;
}
